<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="shortcut icon" href="../sources/fav.png" type="image/x-icon">
    <title>About</title>
</head>
<body>
    <!-- Header -->
    <nav class="navbar has-background-link-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="../index.html">
                <img src="../sources/logo_bus.png" width="28" height="28">
                <p class="title is-5 pl-2 has-text-link-dark">Business</p>
            </a>
            <a role="button" class="navbar-burger has-text-link-dark" aria-label="menu" aria-expanded="false"
                data-target="my-navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="my-navbar" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="../index.html">
                    Home
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="../templates/services.html">
                        Services
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="#">
                            Service 1
                        </a>
                        <a class="navbar-item" href="#">
                            Service 2
                        </a>
                        <a class="navbar-item" href="#">
                            Service 3
                        </a>
                    </div>
                </div>
                <a class="navbar-item" href="../templates/about.html">
                    About
                </a>
                <a class="navbar-item" href="contact.html">
                    Contact
                </a>
            </div>
        </div>
    </nav>

    <!-- About -->
<section class="container py-4">
    <h3 class="title is-3 pl-3">About us</h3>
    <div class="card article">
        <div class="card-content">
            <section class="hero px-5">
                <div class="hero-body">
                    <div class="container">
                        <div class="columns">
                            <div class="column is-9 is-offset-1">
                                <figure class="image is-16by9">
                                    <img src="../sources/post.png" alt="post">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="content article-body px-5 pb-3">
                <h2>Mision</h2>
                <p>Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque condimentum
                    maximus mi,
                    sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti.
                    Etiam mattis
                    sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.</p>
                <ul>
                    <li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
                    <li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
                </ul>
                <h2>Vision</h2>
                <p>Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque condimentum
                    maximus mi,
                    sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti.
                    Etiam mattis
                    sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.</p>
                <ul>
                    <li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
                    <li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
                </ul>
                <h2>How we work?</h2>
                <p>Quisque ante lacus, malesuada ac auctor vitae, congue. Phasellus lacus ex, semper ac
                    tortor nec, fringilla condimentum orci. Fusce eu rutrum tellus.</p>
                <ol>
                    <li>Donec blandit a lorem id convallis.</li>
                    <li>Cras gravida arcu at diam gravida gravida.</li>
                    <li>Integer in volutpat libero.</li>
                    <li>Donec a diam tellus.</li>
                    <li>Aenean nec tortor orci.</li>
                    <li>Quisque aliquam cursus urna, non bibendum massa viverra eget.</li>
                    <li>Vivamus maximus ultricies pulvinar.</li>
                </ol>
            </section>
        </div>
    </div>
</section>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <a href="">
                        <img src="../sources/face.png" alt="facebook">
                    </a>
                    <a href="">
                        <img src="../sources/ig.png" alt="instagram">
                    </a>
                    <a href="">
                        <img src="../sources/wpp.png" alt="whatsapp">
                    </a>
                    <a href="">
                        <img src="../sources/twitter.png" alt="twitter">
                    </a>
                </p>
                <p>
                    &copy;<strong>2022 Business name</strong> by <a
                        href="https://gerardobetgro.github.io/my-website/">Author</a>.
                </p>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="../js/main.js"></script>
    
</body>
</html>