<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="shortcut icon" href="../sources/fav.png" type="image/x-icon">
    <title>Contact</title>
</head>

<body>
    <!-- Header -->
    <nav class="navbar has-background-link-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="../index.html">
                <img src="../sources/logo.png" width="28" height="28">
                <p class="title is-5 pl-2 has-text-link-dark">Business</p>
            </a>
            <a role="button" class="navbar-burger has-text-link-dark" aria-label="menu" aria-expanded="false"
                data-target="my-navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="my-navbar" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="../index.html">
                    Home
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="../templates/services.html">
                        Services
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="#">
                            Service 1
                        </a>
                        <a class="navbar-item" href="#">
                            Service 2
                        </a>
                        <a class="navbar-item" href="#">
                            Service 3
                        </a>
                    </div>
                </div>
                <a class="navbar-item" href="../templates/about.html">
                    About
                </a>
                <a class="navbar-item" href="contact.html">
                    Contact
                </a>
            </div>
        </div>
    </nav>

    <!-- Contact -->
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-8 is-variable ">
                    <div class="column is-two-thirds has-text-left">
                        <h1 class="title is-1">Contact Us</h1>
                        <p class="is-size-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio explicabo
                            omnis, <br> at aspernatur ex repudiandae officia quo quam cum eaque.</p>
                        <div class="social-media py-5">
                            <a href="https://facebook.com" target="_blank" class="button is-light is-large"><img
                                    src="../sources/face.png" alt="facebook"></a>
                            <a href="https://instagram.com" target="_blank" class="button is-light is-large"><img
                                    src="../sources/ig.png" alt="instagram"></a>
                            <a href="https://wpp.com" target="_blank" class="button is-light is-large"><img
                                    src="../sources/wpp.png" alt="whatsapp"></i></a>
                            <a href="https://twitter.com" target="_blank" class="button is-light is-large"><img
                                    src="../sources/twitter.png" alt="twitter"></i></a>
                        </div>
                    </div>
                    <div class="column is-one-third has-text-left">
                        <div class="field">
                            <label class="label">Name</label>
                            <div class="control">
                                <input class="input is-medium" type="text">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                <input class="input is-medium" type="text">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Message</label>
                            <div class="control">
                                <textarea class="textarea is-medium"></textarea>
                            </div>
                        </div>
                        <div class="control">
                            <button type="submit"
                                class="button is-link is-fullwidth has-text-weight-medium is-medium">Send
                                Message</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <a href="">
                        <img src="../sources/face.png" alt="facebook">
                    </a>
                    <a href="">
                        <img src="../sources/ig.png" alt="instagram">
                    </a>
                    <a href="">
                        <img src="../sources/wpp.png" alt="whatsapp">
                    </a>
                    <a href="">
                        <img src="../sources/twitter.png" alt="twitter">
                    </a>
                </p>
                <p>
                    &copy;<strong>2022 Business name</strong> by <a
                        href="https://gerardobetgro.github.io/my-website/">Author</a>.
                </p>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="../js/main.js"></script>
</body>

</html>