<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="shortcut icon" href="../sources/fav.png" type="image/x-icon">
    <title>Services</title>
</head>

<body>
    <!-- Header -->
    <nav class="navbar has-background-link-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="../index.html">
                <img src="../sources/logo.png" width="28" height="28">
                <p class="title is-5 pl-2 has-text-link-dark">Business</p>
            </a>
            <a role="button" class="navbar-burger has-text-link-dark" aria-label="menu" aria-expanded="false"
                data-target="my-navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="my-navbar" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="../index.html">
                    Home
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="../templates/services.html">
                        Services
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="#">
                            Service 1
                        </a>
                        <a class="navbar-item" href="#">
                            Service 2
                        </a>
                        <a class="navbar-item" href="#">
                            Service 3
                        </a>
                    </div>
                </div>
                <a class="navbar-item" href="../templates/about.html">
                    About
                </a>
                <a class="navbar-item" href="contact.html">
                    Contact
                </a>
            </div>
        </div>
    </nav>

    <!-- Hero -->
    <section class="hero is-medium is-dark">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1 ">Main title</h1>
                <h2 class="subtitle">A simple boilerplate for setting up parallax <br> using the Bulma Hero container.
                </h2>
                <a href="#" class="button is-white is-medium is-inverted">Learn More&ensp;<i
                        class="fad fa-chevron-right"></i></a>
            </div>
        </div>
    </section>

    <!-- Services -->
    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-one-third">
                    <article class="notification media has-background-white">
                        <figure class="media-left">
                            <span class="icon">
                                <img src="../sources/placeholder.png" alt="">
                            </span>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h1 class="title is-size-4">Columns</h1>
                                <p class="is-size-5 subtitle">
                                    The power of <strong>Flexbox</strong> in a simple interface
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-one-third">
                    <article class="notification has-background-white media">
                        <figure class="media-left">
                            <span class="icon has-text-info">
                                <img src="../sources/placeholder.png" alt="">
                            </span>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h1 class="title is-size-4">Form</h1>
                                <p class="is-size-5 subtitle">
                                    The indispensable <strong>form controls</strong>, designed for maximum clarity
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-one-third">
                    <article class="notification has-background-white media">
                        <figure class="media-left">
                            <span class="icon has-text-danger">
                                <img src="../sources/placeholder.png" alt="">
                            </span>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h1 class="title is-size-4">Components</h1>
                                <p class="is-size-5 subtitle">
                                    Advanced multi-part components with lots of possibilities
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-one-third">
                    <article class="notification has-background-white media">
                        <figure class="media-left">
                            <span class="icon has-text-grey">
                                <img src="../sources/placeholder.png" alt="">
                            </span>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h1 class="title is-size-4">Modifiers</h1>
                                <p class="is-size-5 subtitle">
                                    An <strong>easy-to-read</strong> naming system designed for humans
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-one-third">
                    <article class="notification has-background-white media">
                        <figure class="media-left">
                            <span class="icon has-text-primary">
                                <img src="../sources/placeholder.png" alt="">
                            </span>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h1 class="title is-size-4">Layout</h1>
                                <p class="is-size-5 subtitle">
                                    Design the <strong>structure</strong> of your webpage with these CSS classes
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-one-third">
                    <article class="notification has-background-white media">
                        <figure class="media-left">
                            <span class="icon has-text-danger">
                                <img src="../sources/placeholder.png" alt="">
                            </span>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h1 class="title is-size-4">Elements</h1>
                                <p class="is-size-5 subtitle">
                                    Essential interface elements that only require a <strong>single CSS class</strong>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <a href="">
                        <img src="../sources/face.png" alt="facebook">
                    </a>
                    <a href="">
                        <img src="../sources/ig.png" alt="instagram">
                    </a>
                    <a href="">
                        <img src="../sources/wpp.png" alt="whatsapp">
                    </a>
                    <a href="">
                        <img src="../sources/twitter.png" alt="twitter">
                    </a>
                </p>
                <p>
                    &copy;<strong>2022 Business name</strong> by <a
                        href="https://gerardobetgro.github.io/my-website/">Author</a>.
                </p>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="../js/main.js"></script>
</body>

</html>