<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="shortcut icon" href="../sources/fav.png" type="image/x-icon">
    <title>Services</title>
</head>

<body>
    <!-- Header -->
    <nav class="navbar has-background-link-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="../index.html">
                <img src="../sources/logo_bus.png" width="28" height="28">
                <p class="title is-5 pl-2 has-text-link-dark">Business</p>
            </a>
            <a role="button" class="navbar-burger has-text-link-dark" aria-label="menu" aria-expanded="false"
                data-target="my-navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="my-navbar" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="../index.html">
                    Home
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="../templates/services.html">
                        Services
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="#">
                            Service 1
                        </a>
                        <a class="navbar-item" href="#">
                            Service 2
                        </a>
                        <a class="navbar-item" href="#">
                            Service 3
                        </a>
                    </div>
                </div>
                <a class="navbar-item" href="../templates/about.html">
                    About
                </a>
                <a class="navbar-item" href="contact.html">
                    Contact
                </a>
            </div>
        </div>
    </nav>

    <!-- Hero -->
    <section class="hero is-medium is-dark">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1 ">Services</h1>
                <h2 class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, qui?
                </h2>
                <a href="#services" class="button is-info is-medium is-inverted">Learn More</a>
            </div>
        </div>
    </section>

    <!-- Services -->
    <section id="services" class="section">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-one-third">
                    <article class="notification media has-background-white">
                        <figure class="media-left">
                            <span class="icon">
                                <img src="../sources/placeholder.png" alt="">
                            </span>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h1 class="title is-size-4">Service 1</h1>
                                <p class="is-size-5 subtitle">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-one-third">
                    <article class="notification has-background-white media">
                        <figure class="media-left">
                            <span class="icon has-text-info">
                                <img src="../sources/placeholder.png" alt="">
                            </span>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h1 class="title is-size-4">Service 2</h1>
                                <p class="is-size-5 subtitle">
                                    Lorem ipsum dolor sit amet, <strong>consectetur adipisicing</strong> elit.
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-one-third">
                    <article class="notification has-background-white media">
                        <figure class="media-left">
                            <span class="icon has-text-danger">
                                <img src="../sources/placeholder.png" alt="">
                            </span>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h1 class="title is-size-4">Service 3</h1>
                                <p class="is-size-5 subtitle">
                                    Lorem ipsum dolor sit <i>amet consectetur</i> adipisicing elit.
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-one-third">
                    <article class="notification has-background-white media">
                        <figure class="media-left">
                            <span class="icon has-text-grey">
                                <img src="../sources/placeholder.png" alt="">
                            </span>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h1 class="title is-size-4">Service 4</h1>
                                <p class="is-size-5 subtitle">
                                    Lorem ipsum dolor sit <b>amet consectetur</b> adipisicing elit.
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-one-third">
                    <article class="notification has-background-white media">
                        <figure class="media-left">
                            <span class="icon has-text-primary">
                                <img src="../sources/placeholder.png" alt="">
                            </span>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h1 class="title is-size-4">Service 5</h1>
                                <p class="is-size-5 subtitle">
                                    Essaet. <small>Structure</small> Lorem ipsum dolor sit amet consectetur.
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-one-third">
                    <article class="notification has-background-white media">
                        <figure class="media-left">
                            <span class="icon has-text-danger">
                                <img src="../sources/placeholder.png" alt="">
                            </span>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h1 class="title is-size-4">Service 6</h1>
                                <p class="is-size-5 subtitle">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <a href="">
                        <img src="../sources/face.png" alt="facebook">
                    </a>
                    <a href="">
                        <img src="../sources/ig.png" alt="instagram">
                    </a>
                    <a href="">
                        <img src="../sources/wpp.png" alt="whatsapp">
                    </a>
                    <a href="">
                        <img src="../sources/twitter.png" alt="twitter">
                    </a>
                </p>
                <p>
                    &copy;<strong>2022 Business name</strong> by <a
                        href="https://gerardobetgro.github.io/my-website/">Author</a>.
                </p>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="../js/main.js"></script>
</body>

</html>